body{
  width:100vw;
  padding: 5vh 10vw;
  background-color: black;
  color: #FFBA08;
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Italiana', serif;
  font-weight: bolder;
}
h4, strong{
  color: #BB0A21;
  font-family: 'Italiana', serif;
}
h1{
  font-size: 50px;
  text-shadow: 5px 5px black;
}
#order{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.radio-container{
  width: 30%
}
#pizzas{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.order-item{
  width: 33%;
  margin: 2vh 0;
}
.jumbotron{
  background-image: url('https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&w=1000&q=80');
  height: 35vh;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
img{
  width: 20vh;
}