body{
  width:100vw;
  padding: 5vh 10vw;
  background-color: black;
  color: #FFBA08;
}
#order{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.radio-container{
  width: 30%
}
#pizzas{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.order-item{
  width: 33%;
  margin: 2vh 0;
}
.jumbotron{
  background-color: #BB0A21;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h4, strong{
  color: #BB0A21;
}
h1{
  font-size: 50px;
  -webkit-text-stroke: 1px black ;
}
img{
  width: 20vh;
}